<div class="book-details">
    <div id="view-book-image-wrapper">
      <img
        src="/books/<%= book.bookId %>/cover"
        alt="Loading '<%= book.title %>'.."
        class="img-fluid"
        width="200"
        height="250"
      />
    </div>
  
    <div class="book-written-details">
      <h2 class="book-title"><%= book.title %></h2>
      <h3 class="book-description"><%= book.description %></h3>
    </div>
  
    <div id="view-book-purchase-section">
      <% if(user.isVerified == true) { %>
      <form action="/payment" id="purchase-form" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= stripePublishableKey %>"
          data-amount="50000"
          data-currency="INR"
          data-name="<%= book.title %>"
          data-description="<%= book.description %>"
          data-email="<%= (user && user.email) ? user.email : null %>"
          data-image="/img/logo.jpg"
          data-locale="auto"
        ></script>
        <script>
          // hide default stripe button
          document.getElementsByClassName("stripe-button-el")[0].style.display =
            "none";
        </script>
        <input type="hidden" name="description" value="<%= book.description %>" />
        <input type="hidden" name="purchasedBookId" value="<%= book.bookId %>" />
        <% if(user.purchases.includes(book.bookId)) { %>
        <a type="button" class="normalBtn" id="paidBtn">Purchased</a>
        <% } else { %>
        <button type="submit" class="normalBtn submitBtn" id="purchaseBtn">
          Purchase for Rs. 500
        </button>
        <% } %>
      </form>
      <% } else { %>
      <p id="purchase-restricted-text">
        You have not verified your email yet, so purchase of this ebook is
        restricted.
        <br />
        Please verify your email, and then proceed..
      </p>
      <% } %>
    </div>
  </div>